body {
  margin: 0; }

#navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 60px;
  background-color: #03234A;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  #navbar-logo {
    height: 40px;
    margin-bottom: 10px;
    margin-left: 4%; }
  #navbar nav {
    font-family: roboto, sans-serif;
    font-weight: 600;
    display: flex; }
    #navbar nav a {
      color: rgba(255, 255, 255, 0.75);
      font-size: 14px;
      text-decoration: none;
      width: 110px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      #navbar nav a .nav-barra {
        width: 100%;
        height: 2px; }
      #navbar nav a:hover {
        color: white; }
        #navbar nav a:hover .nav-barra {
          background-color: white; }
    @media (max-width: 900px) {
      #navbar nav {
        display: none; } }
  #navbar-menu {
    width: 40px;
    appearance: none;
    border: none;
    box-sizing: unset;
    background-color: unset;
    padding: unset;
    margin-right: 30px; }
    #navbar-menu:focus {
      outline: transparent; }
    #navbar-menu img {
      width: 100%; }

#navbar-mobile {
  position: fixed;
  z-index: 3;
  width: 95%;
  height: 100vh;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); }
  #navbar-mobile #block-bar {
    width: 100%;
    height: 20px;
    background-color: #E0E0E0; }
  #navbar-mobile #navbar-div {
    padding: 30px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    #navbar-mobile #navbar-div #close-button {
      appearance: none;
      border: none;
      box-sizing: unset;
      background-color: unset;
      padding: unset;
      user-select: none; }
      #navbar-mobile #navbar-div #close-button:focus {
        outline: transparent; }
      #navbar-mobile #navbar-div #close-button img {
        width: 30px; }
  #navbar-mobile-nav {
    display: flex;
    flex-direction: column;
    padding-left: 20px; }
    #navbar-mobile-nav a {
      text-decoration: none;
      color: #03234A;
      font-size: 16px;
      font-family: roboto, sans-serif;
      font-weight: 600;
      padding: 8px 0px; }

.menu-open {
  display: none; }
  @media (max-width: 900px) {
    .menu-open {
      display: flex;
      align-self: center; } }
.deactive {
  display: none; }

.active {
  display: block; }

#banner {
  background-image: url(../images/img-banner.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 900px) {
    #banner {
      justify-content: end; } }
  #banner .banner-div {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 900px) {
      #banner .banner-div {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        height: 65%;
        align-self: flex-end; } }
  #banner-title {
    margin-left: 4%; }
    #banner-title h1 {
      width: 360px;
      font-family: century-gothic, sans-serif;
      font-weight: 400;
      font-size: 34px;
      color: white; }
    #banner-title-button {
      background-color: #0965D6;
      appearance: none;
      border: none;
      box-sizing: unset;
      user-select: none;
      color: white;
      font-family: roboto, sans-serif;
      font-size: 12px;
      padding: 5px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer; }
      #banner-title-button:focus {
        outline: transparent; }
  #banner-bar {
    width: 35px;
    height: 200px;
    margin-right: 4%;
    background-color: #CDD3DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px; }
    #banner-bar img {
      width: 25px; }
    #banner-bar svg {
      width: 25px; }
    @media (max-width: 900px) {
      #banner-bar {
        width: 200px;
        height: 35px;
        margin-right: 0%;
        margin-bottom: 4%;
        flex-direction: row;
        align-self: center; } }
#about-us {
  padding-top: 120px; }
  #about-us-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center; }
    #about-us-cards #align-cards {
      max-width: 1400px;
      width: 100%;
      margin: 0% 4%;
      display: flex;
      align-self: center;
      justify-content: space-between; }
      @media (max-width: 900px) {
        #about-us-cards #align-cards {
          flex-direction: column; } }
      #about-us-cards #align-cards .about-us-card {
        max-width: 570px;
        width: 45%; }
        #about-us-cards #align-cards .about-us-card h2 {
          margin: 0%;
          font-family: century-gothic, sans-serif;
          font-weight: 400;
          font-size: 34px;
          color: #03234A; }
          @media (max-width: 900px) {
            #about-us-cards #align-cards .about-us-card h2 {
              font-size: 28px; } }
        #about-us-cards #align-cards .about-us-card p {
          margin: 20px 0%;
          font-family: century-gothic, sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: #000000; }
        @media (max-width: 900px) {
          #about-us-cards #align-cards .about-us-card {
            width: auto; } }
  #about-us-emojs {
    margin-top: 60px;
    background-color: #CDD3DB;
    padding: 20px 4%;
    display: flex;
    justify-content: center; }
    #about-us-emojs #align-emojs {
      max-width: 1400px;
      width: 100%;
      display: flex;
      align-self: center;
      justify-content: space-between; }
      @media (max-width: 900px) {
        #about-us-emojs #align-emojs {
          flex-direction: column; } }
    #about-us-emojs .emojs-cards {
      width: 230px; }
      #about-us-emojs .emojs-cards img {
        width: 50px; }
      #about-us-emojs .emojs-cards h3 {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: black;
        margin: 2px 0px; }
        @media (max-width: 900px) {
          #about-us-emojs .emojs-cards h3 {
            font-size: 20px; } }
      #about-us-emojs .emojs-cards p {
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: black; }

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  footer div {
    height: 2px;
    max-width: 1400px;
    width: 92%;
    background-color: #0965D6; }
  footer #footer-logo {
    width: 180px; }

#depositions {
  padding-top: 120px;
  display: flex;
  flex-direction: column; }
  #depositions-title {
    margin: 0% 4%;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #03234A; }
    @media (max-width: 900px) {
      #depositions-title {
        font-size: 28px; } }
  #depositions #quote-left {
    margin-top: 30px;
    margin-left: 5%; }
    #depositions #quote-left img {
      width: 100px; }
      @media (max-width: 900px) {
        #depositions #quote-left img {
          width: 80px; } }
  #depositions .depositions-slick .depositions-card {
    width: 70vw;
    height: 180px;
    margin-right: 10vw;
    justify-content: center; }
    #depositions .depositions-slick .depositions-card:focus {
      outline: transparent; }
    #depositions .depositions-slick .depositions-card p {
      font-family: century-gothic, sans-serif;
      font-weight: 400;
      font-size: 20px; }
      @media (max-width: 900px) {
        #depositions .depositions-slick .depositions-card p {
          font-size: 18px; } }
  #depositions #quote-right {
    display: flex;
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 5%; }
    #depositions #quote-right img {
      width: 100px; }
      @media (max-width: 900px) {
        #depositions #quote-right img {
          width: 80px; } }
#contact {
  height: 500px;
  margin: 0px 4%;
  display: grid;
  grid-template-columns: 30% auto 60%;
  grid-template-rows: repeat(2, 35%);
  gap: 0px 0px;
  grid-template-areas: "title . forms" "midias . forms";
  align-content: center; }
  @media (max-width: 1000px) {
    #contact {
      height: auto;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "title" "forms" "midias"; } }
  @media (min-width: 1400px) {
    #contact {
      margin: 0% 15%; } }
  #contact h2 {
    width: 0px;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #03234A;
    width: 90%;
    grid-area: title; }
    @media (max-width: 900px) {
      #contact h2 {
        font-size: 28px; } }
  #contact #contact-text-medias {
    margin: 30px 0px;
    grid-area: midias;
    align-self: flex-end; }
    #contact #contact-text-medias #localization {
      display: flex;
      align-items: flex-start; }
      #contact #contact-text-medias #localization p {
        margin: 0% 0% 0% 5px;
        color: #03234A;
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-size: 14px; }
    #contact #contact-text-medias #phone {
      display: flex;
      align-items: center;
      margin-top: 10px; }
      #contact #contact-text-medias #phone p {
        margin: 0% 0% 0% 5px;
        color: #03234A;
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-size: 14px; }
  #contact-forms {
    background-color: #03234A;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
    padding: 10px 0px;
    grid-area: forms; }
    @media (max-width: 1000px) {
      #contact-forms {
        margin: 5% 0px; } }
    #contact-forms form {
      display: flex;
      justify-content: space-evenly;
      margin: 40px 0px; }
      @media (max-width: 600px) {
        #contact-forms form {
          flex-direction: column;
          align-items: center; } }
  #contact #contact-forms-1 {
    width: 40%; }
    @media (max-width: 600px) {
      #contact #contact-forms-1 {
        width: 85%; } }
  #contact #contact-forms-2 {
    width: 40%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 600px) {
      #contact #contact-forms-2 {
        width: 85%; } }
    #contact #contact-forms-2 #contato-btn {
      appearance: none;
      border: none;
      box-sizing: unset;
      user-select: none;
      color: white;
      font-family: roboto, sans-serif;
      font-size: 12px;
      padding: 5px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      color: #03234A;
      width: fit-content;
      display: flex;
      align-self: flex-end; }
      #contact #contact-forms-2 #contato-btn:focus {
        outline: transparent; }

.contact-group {
  position: relative;
  margin-bottom: 20px;
  padding: 0% 10px;
  background: #245DA3;
  border-radius: 3px; }

.contact-field {
  width: 100%;
  font-family: century-gothic, sans-serif;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: #A7BEDA;
  padding: 22px 0px 10px 0px;
  background: #245DA3;
  transition: border-color 0.2s; }

.contact-field::placeholder {
  color: transparent; }

.contact-field:placeholder-shown ~ .contact-label {
  font-size: 16px;
  cursor: text;
  top: 15px;
  font-family: century-gothic, sans-serif; }

label,
.contact-field:focus ~ .contact-label {
  position: absolute;
  top: 6px;
  font-family: century-gothic, sans-serif;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #A7BEDA; }

/*# sourceMappingURL=main.css.map */