#banner {
    background-image: url(../images/img-banner.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: space-between;

    @media (max-width: 900px) {
        justify-content: end;
    }

    .banner-div {
        width: 100%;
        display: flex;
        justify-content: space-between  ;

        @media (max-width: 900px) {
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            height: 65%;
            align-self: flex-end;
        }
    }

    &-title {
        margin-left: 4%;

        h1 {
            width: 360px;
            font-family: century-gothic, sans-serif;
            font-weight: 400;
            font-size: 34px;
            color: white;
        }

        &-button {
            background-color: $blue-button;
            @include button;
        }
    }

    &-bar {
        width: 35px;
        height: 200px;
        margin-right: 4%;
        background-color: #CDD3DB;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;

        img {
            width: 25px;
        }

        svg {
            width: 25px;
        }

        @media (max-width: 900px) {
            width: 200px;
            height: 35px;
            margin-right: 0%;
            margin-bottom: 4%;
            flex-direction: row;
            align-self: center;
        }
    }

}