#contact {
    height: 500px;
    margin: 0px 4%;
    display: grid;
    grid-template-columns: 30% auto 60%;
    grid-template-rows: repeat(2, 35%);
    gap: 0px 0px;
    grid-template-areas:
        "title . forms"
        "midias . forms";
    align-content: center;
    
    @media (max-width: 1000px) {
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "title"
        "forms"
        "midias";
    }

    @media (min-width: 1400px) {
        margin: 0% 15%;
    }

    h2 {
        width: 0px;
        @include titles;
        width: 90%;
        grid-area: title;
    }

    #contact-text-medias {
        margin: 30px 0px;
        grid-area: midias;
        align-self: flex-end;

        #localization {
            display: flex;
            align-items: flex-start;

            p {
                margin: 0% 0% 0% 5px;
                color: $dark-blue;
                font-family: century-gothic, sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
        }

        #phone {
            display: flex;
            align-items: center;
            margin-top: 10px;

            p {
                margin: 0% 0% 0% 5px;
                color: $dark-blue;
                font-family: century-gothic, sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }

    &-forms {
        background-color: $dark-blue;
        -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
        padding: 10px 0px;
        grid-area: forms;

        @media (max-width: 1000px) {
            margin: 5% 0px;
        }
        
        form {
            display: flex;
            justify-content: space-evenly;
            margin: 40px 0px;

            @media (max-width: 600px) {
                flex-direction: column;
                align-items: center;
            }
        }

    }
    
    #contact-forms-1 {
        width: 40%;

        @media (max-width: 600px) {
            width: 85%;
        }
    }

    #contact-forms-2 {
        width: 40%;
        display: flex;
        flex-direction: column;

        @media (max-width: 600px) {
            width: 85%;
        }

        #contato-btn {
            @include button;
            color: $dark-blue;
            width: fit-content;
            display: flex;
            align-self: flex-end;
        }
    }
}

.contact-group {
    position: relative;
    margin-bottom: 20px;
    padding: 0% 10px;
    background: #245DA3;
    border-radius: 3px;
}
  
  .contact-field {
    width: 100%;
    font-family: century-gothic, sans-serif;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #A7BEDA;
    padding:22px 0px 10px 0px;
    background: #245DA3;
    transition: border-color 0.2s;
  }
  
  .contact-field::placeholder {
    color: transparent;
  }
  
  .contact-field:placeholder-shown ~ .contact-label {
    font-size: 16px;
    cursor: text;
    top: 15px;
    font-family: century-gothic, sans-serif;
  }
  
  label,
  .contact-field:focus ~ .contact-label {
    position: absolute;
    top: 6px;
    font-family: century-gothic, sans-serif;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #A7BEDA;
  }