#navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 60px;
    background-color: $dark-blue;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &-logo {
        height: 40px;
        margin-bottom: 10px;
        margin-left: 4%;
    }

    nav {
        font-family: roboto, sans-serif;
        font-weight: 600;
        display: flex;
        margin-right: 4%;

        a {
            color: rgba(255, 255, 255, 0.75);
            font-size: 14px;
            text-decoration: none;
            width: 110px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .nav-barra {
                width: 100%;
                height: 2px;
            }

            &:hover {
                color: white;

                .nav-barra {
                    background-color: white;
                }
            }
        }

        @media (max-width: 900px) {
            display: none;
        }
    }

    &-menu {
        width: 40px;
        appearance: none;
        border: none;
        box-sizing: unset;
        background-color: unset;
        padding: unset;
        margin-right: 30px;

        &:focus {
            outline: transparent;
        }

        img {
            width: 100%;
        }
    }

}

#navbar-mobile {
    position: fixed;
    z-index: 3;
    width: 95%;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

    #block-bar {
        width: 100%;
        height: 20px;
        background-color: #E0E0E0;
    }

    #navbar-div {
        padding: 30px 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        

        #close-button {
            appearance: none;
            border: none;
            box-sizing: unset;
            background-color: unset;
            padding: unset;
            user-select: none;

            &:focus {
                outline: transparent;
            }

            img {
                width: 30px;
            }
        }
    }

    &-nav {
        display: flex;
        flex-direction: column;
        padding-left: 20px;

        a {
            text-decoration: none;
            color: #03234A;
            font-size: 16px;
            font-family: roboto, sans-serif;
            font-weight: 600;
            padding: 8px 0px;
        }
    }
}

.menu-open{
    display: none;

    @media (max-width: 900px) {
        display: flex;
        align-self: center;
    }
}

.deactive {
    display: none;
}

.active {
    display: block;
}