$dark-blue: #03234A;
$blue-button: #0965D6;

body {
    margin: 0;
    position: relative;
}

#logo-site {
    position: absolute;
    z-index: -1;
    margin-top: 80px;
    width: 50vw;
    right: 0px;

    @media (max-width: 900px) {
        width: 80vw;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}

@mixin  button {
    appearance: none;
    border: none;
    box-sizing: unset;
    user-select: none;
    color: white;
    font-family: roboto, sans-serif;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

    &:focus {
        outline: transparent;
    }
}

@mixin titles {
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: $dark-blue;

    @media (max-width: 900px) {
        font-size: 28px;
    }
}

@mixin text-pattern {
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@import '_navbar';
@import '_banner';
@import '_about-us';
@import '_footer';
@import '_depositions';
@import '_contact';
@import '_services';