{% load static %}

<section id="about-us">

    <div id="about-us-cards">
        <div class="about-us-card">
            <h2>Sobre nós</h2>
            <p>Desde xxxx, a JCN Finance Outsourcing, fundada e gerenciada por João Carvalho Neto, atua no mercado acreditando na gestão financeira de qualidade para todos.
    
                Isso, olhando para cada empresa parceira, respeitando suas particularidades e entendendo suas necessidades específicas. Tendo como resultado clientes focados em gerar negócios.
                
                Praticidade, adaptabilidade, evolução, colaboratividade, comprometimento e acessibilidade são nossos pilares.</p>
        </div>
    
        <div class="about-us-card">
            <h2>Finance Outsourcing</h2>
            <p>Outsourcing é a prática de uma empresa contratar outra para complementar seus serviços a um custo menor.
    
                O Finance Outsourcing, ou terceirização do departamento financeiro, permite que uma empresa especializada gerencie desde tarefas simples do dia a dia, como contas a pagar e fluxo de caixa, até trabalhos mais analíticos, como análises de desempenho econômico-financeiro para orientação à gestão estratégica dos negócios.</p>
        </div>
    </div>

    <div id="about-us-emojs">
        <div class="emojs-cards">
            <img src="../assets/images/smile.png" alt="">
            <h3>4,02 milhões</h3>
            <p>Trabalhadores Terceirizados no Brasil.</p>
        </div>

        <div class="emojs-cards">
            <img src="../assets/images/smile.png" alt="">
            <h3>4,02 milhões</h3>
            <p>Trabalhadores Terceirizados no Brasil.</p>
        </div>

        <div class="emojs-cards">
            <img src="../assets/images/smile.png" alt="">
            <h3>4,02 milhões</h3>
            <p>Trabalhadores Terceirizados no Brasil.</p>
        </div>
        
        <div class="emojs-cards">
            <img src="../assets/images/smile.png" alt="">
            <h3>4,02 milhões</h3>
            <p>Trabalhadores Terceirizados no Brasil.</p>
        </div>
    </div>

</section>