{% load static %}

<section id="about-us">

    <div id="about-us-cards">
        <div id="align-cards">
            <div class="about-us-card">
                <h2>Sobre nós</h2>
                <p>{{ aboutus.about_us }}</p>
            </div>
        
            <div class="about-us-card">
                <h2>Finance Outsourcing</h2>
                <p>{{ aboutus.finance }}</p>
            </div>
        </div>
    </div>

    <div id="about-us-emojs">
        <div id="align-emojs">
            <div class="emojs-cards">
                <img src="{{ strip.emoj_1.url }}" alt="">
                <h3>{{ strip.title_1 }}</h3>
                <p>{{ strip.text_1 }}</p>
            </div>
    
            <div class="emojs-cards">
                <img src="{{ strip.emoj_2.url }}" alt="">
                <h3>{{ strip.title_2 }}</h3>
                <p>{{ strip.text_2 }}</p>
            </div>
    
            <div class="emojs-cards">
                <img src="{{ strip.emoj_3.url }}" alt="">
                <h3>{{ strip.title_3 }}</h3>
                <p>{{ strip.text_3 }}</p>
            </div>
            
            <div class="emojs-cards">
                <img src="{{ strip.emoj_4.url }}" alt="">
                <h3>{{ strip.title_4 }}</h3>
                <p>{{ strip.text_4 }}</p>
            </div>
        </div>
    </div>

</section>