{% load static %}

<section id="banner">

    <div class="banner-div">
        <div id="banner-title">
            <h1>{{ banner.title }}</h1>
            <a href="#about-us" id="banner-title-button" class="scrollSuave">saber mais</a>
        </div>
    
        <div id="banner-bar">
            <a href="">
                <img src="{% static 'images/insta.svg' %}" alt="instagram">
            </a>
            <a href="">
                <img src="{% static 'images/medium.svg' %}" alt="medium">
            </a>
            <a href="">
                <img src="{% static 'images/rede-social.png' %}" alt="">
            </a>
        </div>
    </div>

</section>