{% load static %}

<section id="banner">

    <div class="banner-div">
        <div id="banner-title">
            <h1>Gestão financeira de qualidade para todos</h1>
            <button id="banner-title-button">saber mais</button>
        </div>
    
        <div id="banner-bar">
            <a href="">
                <img src="../assets/images/insta.svg" alt="instagram">
            </a>
            <a href="">
                <img src="../assets/images/medium.svg" alt="medium">
            </a>
            <a href="">
                <img src="../assets/images/rede-social.png" alt="">
            </a>
        </div>
    </div>

</section>