{% load static %}

<section id="banner">

    <div class="banner-div">
        <div id="banner-title">
            <h1>{{ banner.title }}</h1>
            <a href="#about-us" id="banner-title-button" class="scrollSuave">saber mais</a>
        </div>

        <div id="banner-bar">
            <a href="https://www.instagram.com/jcnfinance/?igshid=bv2fsm1njokv">
                <img src="{% static 'images/insta.svg' %}" alt="instagram">
            </a>
            <a href="mailto:joao@jcnfo.com.br">
                <img src="{% static 'images/mail.svg' %}" alt="medium">
            </a>
        </div>
    </div>

</section>