{% load static %}

<section id="contact">
    <h2>Em que podemos ajudar?</h2>

    <div id="contact-text-medias">
        <div id="localization">
            <img src="{% static 'images/pin.svg' %}" alt="">
            <p>Empresarial Pontes Corporate Center
                R. Barão de Souza Leão, 425 - Boa Viagem, Recife - PE, 51030-300</p>
        </div>

        <div id="phone">
            <img src="{% static 'images/phone.svg' %}" alt="">
            <p>55 81 99869-3333</p>
        </div>
    </div>

    <div id="contact-forms">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div id="contact-forms-1">
                <div class="contact-group">
                   <input name="nome" type="name" class="contact-field" placeholder="Nome">
                   <label for="name" class="contact-label">Nome</label>
                </div>
   
                <div class="contact-group">
                   <input name="email" type="email" class="contact-field" placeholder="E-mail*">
                   <label for="email"  required="required" class="contact-label">E-mail*</label>
                </div>
   
                <div class="contact-group">
                   <input name="telefone" type="tel" class="contact-field" placeholder="Telefone">
                   <label for="tel" class="contact-label">Telefone</label>
                </div>
            </div>

            <div id="contact-forms-2">
                <div class="contact-group">
                    <input name="assunto" type="text" class="contact-field" placeholder="Assunto">
                    <label for="Assunto" class="contact-label">Assunto</label>
                </div>

                <div class="contact-group">
                    <textarea name="mensagem" class="contact-field" placeholder="Mensagem" rows="4" style="height: 94px;"></textarea>
                    <label for="Mensagem" class="contact-label" required="required">Mensagem</label>
                </div>

                <input id="contato-btn" type="submit" value="ENVIAR">
            </div>
        </form>
    </div>
</section>