{% load static %}

<section id="depositions">
    <h2 id="depositions-title">Depoimentos de quem confia</h2>

    <div id="quote-left">
        <img src="{% static 'images/quote-left.svg' %}" alt="aspas">
    </div>
    
    <div class="depositions-slick">
        {% for deposition in  depositions %}
        <div class="depositions-card">
            <p>{{ deposition.deposition }}</p>
            <p>{{ deposition.name }}, {{ deposition.work }}.</p>
        </div>
        {% endfor %}
    </div>

    <div id="quote-right">
        <img src="{% static 'images/quote-right.svg' %}" alt="aspas">
    </div>  
</section>