{% load static %}

<section id="depositions">
    <h2 id="depositions-title">Depoimentos de quem confia</h2>

    <div id="quote-left">
        <img src="{% static 'images/quote-left.svg' %}" alt="aspas">
    </div>
    
    <div class="depositions-slick">
        <div class="depositions-card">
            <p>A parceria com a JCN foi essencial para os resultados positivos obtidos na empresa que atuo. Permitindo que pudéssemos focar em fazer negócios, com uma saúde financeira garantida.</p>
            <p>Maria, Hering.</p>
        </div>

        <div class="depositions-card">
            <p>A parceria com a JCN foi essencial para os resultados positivos obtidos na empresa que atuo. Permitindo que pudéssemos focar em fazer negócios, com uma saúde financeira garantida.</p>
            <p>Maria, Hering.</p>
        </div>
    </div>

    <div id="quote-right">
        <img src="{% static 'images/quote-right.svg' %}" alt="aspas">
    </div>  
</section>