{% load static %}

<section id="navbar-mobile" class="deactive">
    <div id="block-bar"></div>

    <div id="navbar-div">
        <img src="{% static 'images/icon-logo.svg' %}" alt="ícone da logo" id="navbar-div-logo">
        <button id="close-button" class="jsNavbarClose">
            <img src="{% static 'images/close.svg' %}" alt="botão de fechar">
        </button>
    </div>

    <nav id="navbar-mobile-nav">
        <a href="#banner" class="scrollSuave">INÍCIO</a>
        <a href="#banner" class="scrollSuave">SERVIÇOS</a>
        <a href="#banner-bar" class="scrollSuave">SOBRE</a>
        <a href="#depositions" class="scrollSuave">DEPOIMENTOS</a>
        <a href="#contact" class="scrollSuave">CONTATO</a>
    </nav>
</section>

<section id="navbar">
    <img src="{% static 'images/logo-horizontal.svg' %}" alt="logo horizontal" id="navbar-logo">
    
    <nav>
        <a href="#banner"  class="scrollSuave">
            <div>INÍCIO</div>
            <div class="nav-barra"></div>
        </a>
        <a href="#banner" class="scrollSuave">
            <div>SERVIÇOS</div>
            <div class="nav-barra"></div>
        </a>
        <a href="#about-us" class="scrollSuave">
            <div>SOBRE</div>
            <div class="nav-barra"></div>
        </a>
        <a href="#depositions" class="scrollSuave">
            <div>DEPOIMENTOS</div>
            <div class="nav-barra"></div>
        </a>
        <a href="#contact" class="scrollSuave">
            <div>CONTATO</div>
            <div class="nav-barra"></div>
        </a>
    </nav>
    
    <button id="navbar-menu" class="jsNavbar menu-open">    
        <img src="{% static 'images/menu.svg' %}" alt="men hamburuguer">
    </button>
</section>

