{% load static %}

<section id="navbar">
    <img src="../assets/images/logo-horizontal.svg" alt="logo horizontal">
    <nav>
        <a href="">
            <div>INÍCIO</div>
            <div class="nav-barra"></div>
        </a>
        <a href="">
            <div>SERVIÇOS</div>
            <div class="nav-barra"></div>
        </a>
        <a href="">
            <div>SOBRE</div>
            <div class="nav-barra"></div>
        </a>
        <a href="">
            <div>DEPOIMENTOS</div>
            <div class="nav-barra"></div>
        </a>
        <a href="">
            <div>CONTATO</div>
            <div class="nav-barra"></div>
        </a>
    </nav>
</section>